.memos {
    list-style: none;
    padding-left: 0;
}

.memos .memo {
    padding: 0.6em;

    border: 0.15em solid whitesmoke;
    border-radius: 0.3em;
    
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px whitesmoke;
}

.memos .memo:not(:first-child) {
    margin-top: 0.8em;
}

.memos .memo:hover {
    background-color: lightsteelblue;
}

.memos .memo .id {
    float: right;
    color: darkgrey;
}

.memos .memo .title {
    font-weight: bold;
    text-transform: capitalize;
}

.memos .memo .content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}