.memos {
    list-style: none;
    padding-left: 0;
}

.memos .memo {
    padding: 0.6em;
    border: 0.15em solid grey;
    transition: all 0.3s ease;
}

.memos .memo:hover {
    background-color: lightsteelblue;
}

.memos .memo + .memo {
    border-top-width: 0;
}

.memos .memo .id {
    float: right;
    color: darkgrey;
}

.memos .memo .title {
    font-weight: bold;
    text-transform: capitalize;
}

.memos .memo .content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}