@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  font-family: 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
}

nav {
    border: 0.15em solid whitesmoke;
    border-radius: 0.5em;
    margin-bottom: 1.2em;
    padding: 0.5em 1em;
    background-color: white;
    box-shadow: 0px 0px 10px whitesmoke;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: slategrey;
    transition: color 0.2s ease;
}

nav a:hover {
  color: lightcoral;
}

nav a.active {
    font-weight: bold;
    color: steelblue;
}

nav a.active:hover {
  color: darkred;
}

nav *:not(:first-child) {
    margin-left: 0.5em;
} 